:root {
  --accent-color: #2196f3;
  --main-primary-color: #757575;
  --main-secondary-color: #212121;
  --secondary-accent-color: #ffffff;
  --secondary-background-color: #2f303a;
  --main-background-color: #e5e5e5;
  --third-background-color: #f5f4fa;
}

/* ------COMMON------ */
body {
  color: var(--main-primary-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.navigation__link,
.address__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  display: inline-block;

  color: var(--accent-color);
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--main-secondary-color);
}
/* ------END COMMON------ */

/* ------HEADER------ */
.header {
  background-color: var(--secondary-accent-color);
  border-bottom: 1px solid #ececec;
}

.header__container,
.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.header .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo .logo__second-part {
  color: #000000;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;

  color: var(--main-secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--active {
  position: relative;

  color: var(--accent-color);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%);

  content: "";
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.address__item:not(:last-child) {
  margin-right: 30px;
}

.address__item {
  padding-top: 32px;
  padding-bottom: 32px;

  display: inline-flex;
  align-items: center;

  color: var(--main-primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item:hover,
.address__item:focus {
  color: var(--accent-color);
}

.address {
  margin-left: auto;
}

.address__icon {
  margin-right: 10px;
  fill: currentColor;
}
/* ------END HEADER------ */

/* ------HERO------ */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: #c4c4c4;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .hero-title {
  width: 696px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  color: var(--secondary-accent-color);
}

.hero .button {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--secondary-accent-color);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
}
/* ------END HERO------ */

/* ------ADVANTAGES------ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  background-color: var(--background-color);
}

.advantages-item {
  min-width: 270px;
  min-height: 101px;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;

  color: var(--main-secondary-color);
}
.advantages-list {
  display: flex;
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7143;
  text-align: left;
}

.advantages-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--third-background-color);
}

.adv-icon {
  width: 70px;
  height: 70px;
}
/* ------END ADVANTAGES------ */

/* ------OUR WORKS------ */
.works {
  background-color: var(--background-color);
  padding-bottom: 94px;
}

.works .title {
  margin-bottom: 50px;
}

.works .works-list {
  display: flex;
}

.works .works-item:not(:last-child) {
  margin-right: 30px;
}

.works-link > .thumb {
  position: relative;
}

.works-link .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-accent-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* ------END OUR WORKS------ */

/* ------OUR TEAM------ */
.team {
  background-color: var(--third-background-color);
}

.team .title {
  margin-bottom: 50px;
}

.team .team-list {
  display: flex;
}

.team .team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--main-secondary-color);
}

.team-text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.team-description {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;

  text-align: center;
}

.team .social-icon {
  fill: currentColor;
}

.team .social-link {
  color: #afb1b8;
  background-color: var(--secondary-accent-color);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social-link:hover,
.team .social-link:focus {
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
}
/* ------END OUR TEAM------ */

/* ------CLIENTS------ */
.clients {
  background-color: var(--background-color);
}

.clients .title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-color: #afb1b8;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}
/* ------END CLIENTS------ */

/* ------FOOTER------ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-background-color);
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: var(--secondary-accent-color);
}

.footer-contact-info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.logo__second-part.dark {
  color: var(--secondary-accent-color);
}

.footer .footer-text,
.footer .footer-contact-info:not(:last-child) {
  margin-bottom: 9px;
}

.footer .footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer .join {
  margin-right: 93px;
}

.footer .join-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;

  color: var(--secondary-accent-color);
}

.optional {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.left-side {
  margin-right: 83px;
}

.footer .social-links {
  width: 206px;
}

.footer .social-icon {
  fill: currentColor;
}

.footer .social-link {
  color: var(--secondary-accent-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--accent-color);
}

.subscription-form {
  display: flex;
}

.footer .mail {
  display: inline-block;
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-background-color);
}

.footer .mail::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.footer .submit {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  cursor: pointer;
  border: none;
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer .icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;

  fill: var(--secondary-accent-color);
}
/* ------END FOOTER------ */

/* ------PORTFOLIO MAIN------ */
.portfolio {
  background-color: var(--main-background-color);
}

.buttons {
  margin-bottom: 34px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button-portfolio:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  color: var(--main-secondary-color);
  background-color: var(--third-background-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;

  color: inherit;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-secondary-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}

.portfolio-thumb {
  position: relative;

  overflow: hidden;
}

.image-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;

  color: var(--secondary-accent-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .image-text,
.portfolio-link:focus .image-text {
  transform: translateY(0%);
}

/* ------ END PORTFOLIO MAIN------ */

/* ------ BACKDROP------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  width: 528px;
  min-height: 581px;

  background-color: var(--secondary-accent-color);
}

.backdrop .btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;

  background-color: var(--secondary-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.btn .close {
  width: 18px;
  height: 18px;

  fill: rgb(0, 0, 0);
}

.request-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--main-secondary-color);
}

.input,
.textarea {
  display: block;
  width: 100%;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
.textarea:focus {
  border-color: var(--accent-color);
}

.input:focus + .info-icon {
  fill: var(--accent-color);
}

.input {
  padding-left: 42px;
  height: 40px;
}

.textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.label-info,
.label-comment,
.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
}

.label-info {
  margin-bottom: 10px;
}

.label-comment {
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative;

  display: block;
  margin-top: 4px;
}

.info-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--main-secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
}

.label-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  margin-bottom: 30px;
}

.label-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  background-color: var(--secondary-accent-color);
  background-image: url(../images/vector.svg);
  border: 2px solid var(--main-secondary-color);
  border-radius: 2px;
  border-color: var(--main-secondary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-policy:checked + .label-policy::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.policy-btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;

  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* ------ END BACKDROP------ */ ;
